body {
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    border: 1px solid;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
    border: 1px solid;
}